body{
    margin: 0px;
    font-size: 14px;
    color: #333;
    background-color: white;
    letter-spacing: 1px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation{
    z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../icons/next.png);
}

.titleMessage{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p{
    color: white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 5px;
}

.titleMessage .heading .main{
    font-size: 40px;
}

.titleMessage .heading .sub{
    font-size: 25px;
}

.section{
    padding: 100px 0;
}

#navigator{
    background-color: #e74c3c;
    color: #fff;
    z-index: 100;
    width: 100%;
}

#navigator li{
    padding: 0 10px;
}

#navigator li a{
    color: #fff;
}

.navbar-brand, 
.navbar-brand:hover{
    color: #fff;
}

.navbar-toggler-icon{
    background: url('/icons/menu.png');
    background-size: 100%;
}

.stickyNav #navigator{
    position: fixed;
    top: 0;
}

.card-img-top{
    /* position: absolute; clip is available only if the position is absolute */
    max-width: 100%;
    height: 75%;
    width: 100%;
    /* margin-left: 40%; */
    /* background-color: #e74c3c; */
    padding-bottom: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-body h4{
    text-align: center;
    color: #e74c3c;
    font-size: 20pt;
}

.card-body p{
    text-align: center;
    color: #e74c3c;
    text-emphasis: ;
}

.profLinks{
    display: inline-block;
    padding-left: 90px;
    color: #e74c3c;
}

.profLink a:first{
    width: 100%;
    padding: 0 50%;
}

.card{
    border-radius: 25px;
    border: 0.5px solid #e74c3c;
}

.github{
    color: #000;
}

.linkedin{
    color: #0077B5;
}

#aboutme{
    background-color:  #fff;
}

.gist{
    font-size: 15pt;
}

#aboutme h4{
    margin-left: 32%;
    color: #fff;
    font-size: 250%;
    font-family: "Stencil std", fantasy;
}

.contact-section,
.skills-section{
    background-color: #e74c3c;
    color: white;
}

.skillCarousel{
    height: 300px;
}

.skills{
    text-align: center;
    margin-left: 10px;

}

.skills h2{
    padding-top: -175px;
}

#about h2{
    color: #e74c3c;
    text-align: center;
    padding-top: -50px;
    padding-bottom: 70px;

}

.chart{
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    margin-left: 25px;
    text-align: center;
}

.chart canvas{
    position: absolute;
    left: 0%;
    right: 0%;
}

.chart .percent{

    color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after{
    content: '%';
}

.squareItem{
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer{
    position: relative;
    padding: 50px 15px 35px; /* top left-right bottom */
    text-align: center;
    border:2px solid #444;
    border-top: none;    
}

.squareInnerContainer:before,
.squareInnerContainer:after{
    content: '';
    top: 0px;
    position: absolute;
    width: 30%;
    border-bottom: 2px solid #444;
}

.squareInnerContainer:before{
    right: 0px;
}
.squareInnerContainer:after{
    left: 0px;
}

.squareContent h2{
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #e74c3c;
}

.squareContent h3{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.squareIcon{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%; /*The lines are 30% each, so 30% + 40% + 30% = 100%*/
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}


.contactButton{
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.contactButton:hover{
    text-decoration: none;
    color: #e74c3c;
    background-color: #fff;
}

#portfolio  h2{
    color: #e74c3c;
}

.filter{
    text-align: center;
    width: 100%;
}

.filter a{
    color: #bdc3c7;
    border: 1px solid #bdc3c7;
    padding: 10px 18px;
    display: block;
}

.filter li{
    display: inline-block;
    padding: 5px;
}

.filter .current{
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}

.section .heading{
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.items li{
    display: inline-block;
    padding: 5px;
}

.itemsContainer{
    width: 100%;
}

.items li img{
    width: 100%;
    
    -transition: all 0.2s linear, 1s;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;

}

.items .item{
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons{
    position: absolute;
    width: 90%;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -10px auto 0 -125px;
    text-align: center;
    z-index: 3;
}
.items .icons i{
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a{
    width: 40px;
    height: 40px;
    background-color: #e74c3c;
    position: relative;
    display: inline-block;

    -transition: all 0.2s linear, 0.3s;
    -webkit-transition: all 0.2s linear, 0.3s;
    -moz-transition: all 0.2s linear, 0.3s;
    -ms-transition: all 0.2s linear, 0.3s;
    -o-transition: all 0.2s linear, 0.3s;

}

.items .imageOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -transition: all 0.2s linear, 1s;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;

}

.items .item:hover .imageOverlay{
    opacity: 1;
}

.items .openButton{
    float: left;
    left: -200px;
}

.items .projectLink{
    float: right;
    right: -200px;
}

.items .item:hover .openButton{
    left: 30%;
}

.items .item:hover .projectLink{
    right: 30%;
}

.items .item:hover img{
    
    -transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);

}

.copyrightsection{
    background-color: #000;
    color: #fff;
    padding: 30px -5px;
    height: 60px;
    padding-top: 20px;
}

.copyrightsection p{
    margin: 0;
}

.loader{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner{
    width: 100%;
    height: 100%;
    background: url(../icons/loader/glowRing.gif) center center no-repeat ;
}